.head-master {
  background-color: #f8b300;
  height: 12vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 5rem;
}
.brand {
  align-self: center;
  justify-self: left;
}
.logoutBtn {
  align-self: center;
  justify-self: right;
}
.foodiLogo {
  height: 65px;
}
